{% extends 'base_auth.html' %}

{% block title %}Iniciar sesión{% endblock %}

{% block extra_css %}
<style>
    /* Ocultar el ojo del navegador en el campo de contraseña */
    input[type="password"]::-webkit-reveal,
    input[type="password"]::-webkit-reveal-toggle {
        display: none !important;
    }
    
    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-password-reveal {
        display: none !important;
    }
    
    input[type="password"]::-moz-password-toggle {
        display: none !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-[70vh]">
    <div class="auth-card">
        <h1 class="text-3xl font-bold text-center mb-4">
  <span class="inline-flex items-center gap-2">
    <img src="https://img.icons8.com/windows/32/otter.png" alt="otter" class="w-8 h-8" />
    Bienvenido
  </span>
</h1>

        <p class="text-center text-gray-500 mb-6">Por favor, inicia sesión con tus credenciales.</p>

        <form method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="space-y-4">
                <div>
                    <label class="text-sm text-gray-600">Correo o Usuario</label>
                    <div class="mt-2">{{ form.identifier }}</div>
                    {% if form.identifier.errors %}
                        <p class="text-sm text-red-500 mt-1">{{ form.identifier.errors.0 }}</p>
                    {% endif %}
                </div>

                <div>
                    <label class="text-sm text-gray-600">Contraseña</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <p class="text-sm text-red-500 mt-1">{{ form.password.errors.0 }}</p>
                    {% endif %}
                </div>

                <div>
                    <button type="submit" class="w-full bg-[#5c53c6] text-white py-2 rounded-lg hover:bg-[#4d42a8] transition">Continuar</button>
                </div>
            </div>
        </form>

        <div class="text-center mt-6">
            <a href="{% url 'register' %}" class="text-indigo-200">¿No tienes cuenta? Registrate aquí</a>
        </div>
    </div>
</div>
{% endblock %}
